.signUpButton {
  display: inline-block;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  background: black;
  color: white;
  font-size: 14px;
}

.signUpButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}
